<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configure MySQL -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rmsapi</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="show_sql">true</property>
		<property name="conncetion.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.connection.isolation">2</property>
		<!-- Mapping Files -->
		<mapping class="com.ashu.rms.api.common.model.Application"/>
		<mapping class="com.ashu.rms.api.common.model.InvoiceMaster"/>
		<mapping class="com.ashu.rms.api.common.model.ItemInvoiceMaster"/>
		<mapping class="com.ashu.rms.api.common.model.ProductMaster"/>
		<mapping class="com.ashu.rms.api.common.model.Store"/>
		<mapping class="com.ashu.rms.api.common.model.User"/>
			
	</session-factory>

</hibernate-configuration>